<configuration>
   <runtime>
      <legacyCorruptedStateExceptionsPolicy enabled="true" />
	  <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false"/>
   </runtime>
   <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>